@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px oklch(60.6% 0.25 292.717) inset !important;
    -webkit-text-fill-color: oklch(98.7% 0.022 95.277) !important;
}